/*======= index.html =======*/
#page1 #content .col-1 {width:300px; margin-right:5px;}
#page1 #content .col-2 {width:300px; margin-right:5px;}
#page1 #content .col-3 {width:300px;}

/*======= index-1.html =======*/
#page2 #content .col-1 {width:300px; margin-right:5px;}
#page2 #content .col-2 {width:300px; margin-right:5px;}
#page2 #content .col-3 {width:300px;}


/*=========================*/


